<meta charset="utf-8">
<title>{{ title or site.title }}</title>
<meta name="description" content="{{ description or site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "webpack.njk" %}
