---
layout: default
title: Floriane et Clement vont ils partir ?
---

<h1>Hello 👋</h1>

<p>Penses-tu que Floriane et Clément vont réussir à faire leur voyage en 🚗 malgrès la COVID-19 ?</p>

<div><a href="/oui">oui</a></div>
<div><a href="/non">non</a></div>
