---
layout: default
title: Floriane et Clement vont-ils partir ?
bodyClass: h-100 bg-icons
htmlClass: h-100
---

<div class="container h-100 d-flex flex-column align-items-center justify-content-center text-primary text-center lead">
  <h1 class="mb-5">Allo 👋</h1>

  <p class="mb-3 mb-md-4 mb-xl-5">Penses-tu que Floriane et Clément
vont réussir à faire leur 🚐 voyage
malgré la <span class="bg-primary text-white px-2">COVID&#x2011;19</span>&nbsp;?</p>

  <div class="pt-3 pt-md-5 d-flex flex-column">
    <a class="btn btn--primary" href="/oui">Oui</a>
    <a class="btn btn--primary" href="/non">Non</a>
  </div>
</div>
