---
layout: default
title: Non
bodyClass: h-100 bg-icons bg-icons--non
htmlClass: h-100
---

<div class="container h-100 d-flex flex-column align-items-center justify-content-center text-primary text-center lead">
  <h1 class="mb-5">Ben là, faut pas charier&nbsp;!</h1>

  <p class="mb-3 mb-md-4 mb-xl-5">Fais-que t'peux quand même magasiner
  leurs trucs. Y vende <span class="bg-primary text-white px-2">toute</span> leur 4 1/2'🏠</p>

  <div class="pt-3 pt-md-5 d-flex flex-column">
    <a class="btn btn--primary" href="/tout-doit-disparaitre">J'💖 <span class="d-none d-lg-inline">ça </span>magasiner</a>
  </div>
</div>
