---
layout: default
title: Non pas sûr sûr...
bodyClass: h-100
htmlClass: h-100
---

<div class="container h-100 d-flex flex-column align-items-center justify-content-center text-primary text-center mt-md-n5 lead">
  <h1 class="mb-5">Ben là, faut pas charier&nbsp;!</h1>
  <p class="mb-3 mb-md-4 mb-lg-5">Fais-que t'peux quand même magasiner
  leurs trucs. Y vende <span class="bg-primary text-white">toute</span> leur 4 1/2'🏠</p>

  <div class="pt-3 pt-lg-5 d-flex flex-column">
    <a class="btn btn--primary" href="/tout-doit-disparaitre">J'💗 <span class="d-none d-lg-inline">ça </span>magasiner</a>
  </div>
</div>
