---
layout: default
title: Kris que oui !
bodyClass: h-100
htmlClass: h-100
---

<div class="container h-100 d-flex flex-column align-items-center justify-content-center t-primary mt-md-n5 lead">
  <h1 class="mb-5">Ben là, fais plaisir !</h1>
  <p class="text-center mb-3 mb-md-4 mb-lg-5">Check en'dessous pour magasiner leurs trucs.
Y vende <span class="bg-primary t-white">toute</span> leur 4 1/2'🏠</p>

  <div class="pt-3 pt-lg-5 d-flex flex-column">
    <a class="btn btn--primary" href="/tout-doit-disparaitre">J'aime ça magasiner</a>
  </div>
</div>
