---
layout: default
title: Kris que oui !
---

<div class="container">
  <h1>La tu vas leur faire plaisir</h1>
  <p>Check en dessous pour magasiner leurs trucs</p>

  <p><a href="/tout-doit-disparaitre">J'aime ça magasiner</a></p>
</div>
