---
layout: default
title: Oui
bodyClass: h-100 bg-icons bg-icons--oui
htmlClass: h-100
---

<div class="container h-100 d-flex flex-column align-items-center justify-content-center text-primary text-center lead">
  <h1 class="mb-5">Ben là, fait plaisir&nbsp;!</h1>

  <p class="mb-3 mb-md-4 mb-xl-5">Pèse su'l'piton pour magasiner leurs affaires.
  Ils vendent <span class="bg-primary text-white px-2">toute</span> leur 4 1/2'🏠</p>

  <div class="pt-3 pt-md-5 d-flex flex-column">
    <a class="btn btn--primary" href="/tout-doit-disparaitre">J'💖 <span class="d-none d-lg-inline">ça </span>magasiner</a>
  </div>

  <form class="d-none" data-netlify="true" data-form name="tracking">
    <input type="hidden" name="value" value="true" />
  </form>
</div>
