---
layout: default
title: Tout doit disparaître
data: items
---

<div class="container">

  <h2 class="text-center font-weight-bold mb-4">Tout doit disparaître&nbsp;📦</h2>

  <ul class="nav-items d-flex justify-content-center flex-wrap mb-4">
    {% for item in items | sort(false, true, 'name') %}
    <li class="nav-item mx-3 mx-xl-4 mb-2">
      <a href="#{{ item.name | slug }}" title="{{ item.description }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>

  {% include "marquee.njk" %}

  <div class="items mb-4">
    {% for item in items %}
    {% set index = loop.index %}
    <div id="{{ item.name | slug }}" class="item__images row no-gutters ml-1 ml-md-0">
      <div class="col-12 col-md-6 pb-2 pr-2">
        <a href="{{ item.image }}" data-fancybox="gallery-{{ index }}">
          <div class="embed-responsive embed-responsive-1by1">
            {% if index > 2 %}
            <img data-src="{{ item.image }}" class="embed-responsive-item lazyload" />
            {% else %}
            <img src="{{ item.image }}" class="embed-responsive-item" />
            {% endif %}
          </div>
        </a>
      </div>

      <ul class="row col-12 col-md-6 no-gutters">
        {% for image in item.images %}
        {% if loop.length === 2 and loop.index === 2 %}
        <div class="w-100 d-none d-md-block"></div>
        {% endif %}
        <li class="item__image col-6 pr-2 pb-2">
          <a href="{{ image }}" data-fancybox="gallery-{{ index }}">
            <div class="embed-responsive embed-responsive-1by1">
              {% if index > 2 %}
              <img data-src="{{ image }}" class="embed-responsive-item lazyload" />
              {% else %}
              <img src="{{ image }}" class="embed-responsive-item" />
              {% endif %}
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="item__content col col-lg-6">
      <div class="ml-2 ml-md-3 ml-xl-5">
        <h1 class="item__header mb-3">
          <span class="mr-3 mr-md-4">{{ item.name }}</span
          ><span class="item__price my-2">${{ item.price }}</span>
        </h1>

        <p class="item__description">{{ item.description | safe }}</p>

        {% if item.data %}
        <ul class="item__data mb-3">
          {% for name, description in item.data %}
          <li>{{ name }}: {{ description | safe }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% if item.links %}
        <ul class="item__links">
          {% for link in item.links %}
          <li>
            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.name }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>
    </div>
    {% endfor %}

    {% include "marquee.njk" %}

  </div>
</div>
