---
layout: default
title: Tout doit disparaître
data: items
---

<div class="container">
  <ul class="nav-items d-flex justify-content-around flex-wrap">
    {% for item in items %}
    <li class="nav-item mx-3 mb-2">
      <a href="#{{ item.name | slug }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>

  <div class="items">
    {% for item in items %}{% set index = loop.index %}
    <div id="{{ item.name | slug }}" class="item__images row no-gutters mb-3 mb-lg-4 mb-xl-5">
      <div class="col-12 col-md-6 mb-md-2">
        <a href="{{ item.image }}" data-fancybox="gallery-{{ index }}">
          <img src="{{ item.image }}" class="w-100 pb-2 pb-md-0 pr-md-2" />
        </a>
      </div>

      <ul class="row col-12 col-md-6 no-gutters">
        {% for image in item.images %}
        <li class="item__image col-6 pr-2 pb-2">
          <a href="{{ image }}" data-fancybox="gallery-{{ index }}">
            <img src="{{ image }}" class="w-100" />
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="item__content col col-lg-6">
      <div class="ml-2 ml-md-3 ml-xl-5">
        <h1 class="item__header">
          {{ item.name }}
          <span class="item__price ml-4">$ {{ item.price }}</span>
        </h1>

        <p class="item__description">{{ item.description | safe }}</p>

        {% if item.data %}
        <ul class="item__data">
          {% for name, description in item.data %}
          <li>{{ name }}: {{ description }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>

    {% endfor %}
  </div>
</div>
